
<div style=" width: 100%;height: 40%;background-color: rgb(135, 23, 186);">
  <h1 style="text-align: center;text-decoration: underline;">"News App"</h1>
  <p style="text-align: center;">"Come Lets Explore"</p>
<table style=" width: 100%;height: 30%;background-color: rgb(193, 197, 196);">
  <tr>
    <td style="width: 15%; text-align: center;">  <a routerLink="/launchNews" style="color: #000;"> Launch New News</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/viewAllNews" style="color: #000;"> View All </a>  </td>
    </tr>
</table>
</div>

<router-outlet></router-outlet>